<div class="flex justify-between">
    <div class="max-w-96">
        <ui-total-balance></ui-total-balance> 
        <div class="min-w-96">
            <p class="text-gray-950 text-xl font-semibold text-center">Сумма доходов по фильтру</p>
                <div class="flex  m-1 bg-cyan-400 relative board-item border-2 border-slate-900 rounded cursor-pointer transition-shadow hover:shadow-slate-200 hover:shadow-lg">
                    <p class="min-w-36 border-slate-900 p-1 border-r-2 text-lg font-medium">Доход:</p>
                    <p class="border-slate-900 p-1 text-lg font-medium">{{filterBalance}}</p>
                </div>  
            </div> 
    </div>

    <div>
<div class="flex items-center justify-center">
            <button class="filterbtn mr-5 min-w-60 max-h-16 px-3.5 py-2.5 border-r-6 border-2 border-slate-900  rounded-md bg-indigo-200 hover:bg-indigo-300 shadow-sm text-gray-950 text-lg font-medium">ФИЛЬТР</button>
            <button class="filterbtn-reset min-w-60 max-h-16 px-3.5 py-2.5 border-r-6 border-2 border-slate-900  rounded-md bg-indigo-200 hover:bg-indigo-300 shadow-sm text-gray-950 text-lg font-medium">СБРОСИТЬ ФИЛЬТР</button>
        </div>
    </div>

    <div>
        <p class="text-gray-950 text-xl font-semibold text-center">Список ваших доходов</p>
        
        {{#each transactions}}
            <div data-id="{{this.id}}" class="m-1 bg-indigo-200 flex relative board-item border-2 border-slate-900 rounded cursor-pointer transition-shadow hover:shadow-slate-200 hover:shadow-lg">
                <p class="min-w-32 border-r-2 border-slate-900 p-1 font-medium">{{categories}}</p>
                <p class="min-w-32 border-r-2 border-slate-900 p-1 font-medium">{{sum}}</p>
                <p class="min-w-32 border-r-2 border-slate-900 p-1 font-medium">{{date}}</p>
                <p class="min-w-96 p-1 font-medium">{{description}}</p>
                <button data-id="{{this.id}}" class="delete-transaction absolute top-0 right-0 hover:text-red-500 bg-transparent rounded-lg text-lg w-8 h-8 ms-auto inline-flex justify-center items-center">
                    <div class="icon-circle-x"></div>
                </button>
            </div>
        {{/each}}
    </div>
</div>